.top-bar-section li a{
    letter-spacing: 0.2em;
}

.show-for-small-only img {
    width: 75px;
}

.top-bar ul li a {
    text-transform: uppercase;
    letter-spacing: 0.20em;
}

.show-for-small-only img {
    width: 75px;
}
